.welcome-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  background-color: #fff;
  color: #636b6f;
}

.welcome-page__navigation {
  position: absolute;
  top: 18px;
  right: 10px;
}

.welcome-page__links {
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #636b6f;
}

.welcome-page__content {
  text-align: center;
}

.welcome-page__title {
  margin-bottom: 30px;
  font-size: 84px;
}
